@model app_babybay.Models.ViewBag

@{
    ViewData["Title"] = "Cadastro de Usuário";
}

<h1>Criar usuario</h1>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Usuario.Nome" class="control-label"></label>
                <input asp-for="Usuario.Nome" class="form-control" />
                <span asp-validation-for="Usuario.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.DataNascimento" class="control-label"></label>
                <input asp-for="Usuario.DataNascimento" class="form-control" />
                <span asp-validation-for="Usuario.DataNascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.Cpf" class="control-label"></label>
                <input asp-for="Usuario.Cpf" class="form-control" />
                <span asp-validation-for="Usuario.Cpf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.Telefone" class="control-label"></label>
                <input asp-for="Usuario.Telefone" class="form-control" />
                <span asp-validation-for="Usuario.Telefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.Rua" class="control-label"></label>
                <input asp-for="Usuario.Rua" class="form-control" />
                <span asp-validation-for="Usuario.Rua" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.Bairro" class="control-label"></label>
                <input asp-for="Usuario.Bairro" class="form-control" />
                <span asp-validation-for="Usuario.Bairro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.Cidade" class="control-label"></label>
                <input asp-for="Usuario.Cidade" class="form-control" />
                <span asp-validation-for="Usuario.Cidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.Estado" class="control-label"></label>
                <select asp-for="Usuario.Estado" class="form-control" asp-items="Html.GetEnumSelectList<Estado>()"></select>
                <span asp-validation-for="Usuario.Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.Email" class="control-label"></label>
                <input asp-for="Usuario.Email" class="form-control" />
                <span asp-validation-for="Usuario.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.Senha" class="control-label"></label>
                <input type="password" asp-for="Usuario.Senha" class="form-control" />
                <span asp-validation-for="Usuario.Senha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.ConfirmarSenha" class="control-label"></label>
                <input type="password" asp-for="Usuario.ConfirmarSenha" class="form-control" />
                <span asp-validation-for="Usuario.ConfirmarSenha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
