@model app_babybay.Models.Suporte

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link rel="stylesheet" href="~/css/confirmadenuncia.css">
}

<body>
  

<main>
    <div class="div-confirmacompra">
        <h1>Confirmação de denúncia</h1>
    </div>
        <div class="section-c">
            <li>
                <img src="../img/checkbox.png" alt="coin">  
            </li>
            <li>
            <h3>Sua denúncia foi devidamente registrada e em breve a equipe do BabyBay estará avaliando-a.</h3>  
            </li> 
            <div class="retornar">
                <li>
                    <p>
                        <a asp-controller="Usuarios" asp-action="Index">Voltar</a>	
                    </p>
                </li>
            </div>
        </div>
        

</main>
</body>