@model app_babybay.Models.Troca

@{
	ViewData["Title"] = "Create";
}

<h1>TESTE DE TROCA</h1>

<h4>Falta adaptar view lá embaixo (solicitar item)</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<!--Aqui tem que colocar direto para o anuncio, ao invés de viewbag-->
			<div class="form-group">
				<label asp-for="Anuncio" class="control-label"></label>
				<select asp-for="Anuncio" class="form-control" asp-items="ViewBag.AnuncioId"></select>
			</div>
			<div class="form-group">
				<input type="submit" asp-controller="Trocas" asp-action="Index" value="Solicitar Troca" class="btn btn-primary" />
			</div>
			@*<div>
				<a asp-controller="Anuncios" asp-action="CurtirAnuncio" asp-route-id="@Model.UsuarioId">Curtir</a>
			</div>*@		
			
		</form>
	</div>
</div>
<h3>@ViewBag.Message</h3>


@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	}

	<!-- View de Troca -->
	<section>
		<table class="table">
			<tbody>
				<!--content-->
				<div class="container">
					<h2 class="text-center p-5 titulo">Solicitar item</h2>
					<div class="d-flex justify-content-evenly">
						<div class="card">
							<!--Imagem-->
							<img class="card-image" src="../img/roupa2.jpeg">
							<div class="card-infos">
								<div class="card-description">
									<h2>Macacão</h2>
									<p>Branco, pequena mancha</p>
									<p class="idade">0 - 1 ano</p>
								</div>
								<div class="card-price">
									<h2>1 BC</h2>
								</div>
							</div>
						</div><!--.card--> <!--Imagem-->
						<div class="item">
							<div class="form-check">
								<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
								<label class="form-check-label" for="flexRadioDefault1">
									<h5>Utilizar meus babycoins</h5>
								</label>
							</div>
							<div class="form-check">
								<br>
								<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
								<label class="form-check-label" for="flexRadioDefault2">
									<h5>Sugerir troca</h5>
								</label>
							</div>
							</label>
							<div class="input-group">
								<select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
									<option selected>Quer trocar por qual peça?</option>
									<option value="1">Roupa 1</option>
									<option value="2">Roupa 2</option>
									<option value="3">Roupa 3</option>
								</select>
								<button class="btn btn-outline-secondary" type="button">Escolher</button>
							</div>
							<br>
							<button type="button" class="btn btn-primary">Enviar pedido</button>
						</div>

					</div>
				</div>
				<!--.wrapper-->
			</tbody>
		</table>
		<div>
			<a asp-controller="Home" asp-action="Index" asp- class="btn btn-primary">Voltar</a>
		</div>
	</section>