@model app_babybay.Models.Troca

@{
	ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Troca</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			  <div class="form-group">
				<label asp-for="AnunciooId" class="control-label"></label>
				<select asp-for="AnunciooId" class ="form-control" asp-items="ViewBag.AnuncioId" ></select>
				</div> 					
			<div class="form-group">
				<input type="submit" value="Solicitar Troca" class="btn btn-primary" />
			</div>
		</form>	
	</div>
</div>
<h3>@ViewBag.Message</h3> 
<div>
	<a asp-controller="Usuarios" asp-action="Index" class="btn btn-primary">Voltar</a>
</div>

@section Scripts {
    @{
	await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
