@model app_babybay.Models.Anuncio
@{
	ViewData["Title"] = "Início";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/template-page-index.css">
<div class="container">
	<section>
		<article class="article-busca">
			<div class="article__busca--contorno">
				<div class="menu-busca">
					<input class="input__busca" type="search" name="input-buscar" id="input-buscar"
						   placeholder="Busque uma roupa">
					@using (Html.BeginForm("Busca", "Anuncios", FormMethod.Post))
					{
						<h2>Nome do produto</h2>						
						@Html.TextBox("nomeProduto")

						<h2>Idade</h2>
						@Html.TextBox("idadeProduto")

						<h2>Categoria</h2>
						@Html.DropDownList("Categoria",
							new SelectList(Enum.GetValues(typeof(Categoria))),
							"Selecione",
							new {@class = "form-control"})
						
						<input class="input__busca--botao" type="submit" value="Buscar"/>
					}
				</div> <!-- .menu__busca -->
			</div> <!-- .article__busca--contorno-->
		</article> <!-- .article-busca -->
	</section>
	<h3>@ViewBag.Message</h3>

	<main>
		@if (!User.Identity.IsAuthenticated) // Se user autenticado, então não mostrar
		{
			<div class="conteudo-principal">
				<div class="conteudo__h1">
					<h1 class="conteudo__h1--padding">1. Poste suas roupas</h1>
					<h1 class="conteudo__h1--padding">2. Ganhe BabyCoins</h1>
					<h1 class="conteudo__h1--padding">3. Troque por outras roupas</h1>
				</div> <!-- .conteudo__h1 -->
			</div> <!-- .conteudo-principal -->
			<div class="conteudo__botao__cadastro">
				<a asp-controller="Usuarios" asp-action="Create" class="input__botao--cadastro">CADASTRE-SE</a>		
			</div> <!-- .conteudo__cadastre__botao-->
		}

	</main>
</div>
