
@{
	ViewData["Title"] = "Início";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/template-page-index.css">
<div class="container">
	<section>
		<article class="article-busca">
			<div class="article__busca--contorno">
				<div class="menu-busca">
					<input class="input__busca" type="search" name="input-buscar" id="input-buscar"
						   placeholder="Busque uma roupa"> <!-- .input__busca-->




					@using (Html.BeginForm("Busca","Anuncios", FormMethod.Post)){//Aqui é o formulário da idade para busca no banco quando apertar o submit
						@Html.TextBox("Idade")
						<input   class="input__busca"type="submit" style="background-color:red" value="Submit"/>







					} <!-- .input__selected -->
					<select class="input__selected" asp-items="Html.GetEnumSelectList<Categoria>()"></select>
					
					<a  class="input__busca--botao" id="btn-buscar" asp-controller="Anuncios" asp-action="Busca">Buscar</a>	
				</div> <!-- .menu__busca -->
			</div> <!-- .article__busca--contorno-->
		</article> <!-- .article-busca -->
	</section>

	<h3>@ViewBag.Message</h3> 
	<main>

		@if (!User.Identity.IsAuthenticated) // Se user autenticado, então não mostrar
		{
			<div class="conteudo-principal">
				<div class="conteudo__h1">
					<h1 class="conteudo__h1--padding">1. Poste suas roupas</h1>
					<h1 class="conteudo__h1--padding">2. Ganhe BabyCoins</h1>
					<h1 class="conteudo__h1--padding">3. Troque por outras roupas</h1>
				</div> <!-- .conteudo__h1 -->
			</div> <!-- .conteudo-principal -->
			<div class="conteudo__botao__cadastro">
				<a asp-controller="Usuarios" asp-action="Create" class="input__botao--cadastro">CADASTRE-SE</a>
				@*            <input class="input__botao--cadastro" type="button" value="CADASTRE-SE" id="btn-cadastre">*@
			</div> <!-- .conteudo__cadastre__botao-->
		}

	</main>
</div>
