<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../favicon/favicon-16x16.png" type="image/x-icon">
    <link rel="stylesheet" href="../page-css/confirmacompra.css">
    <link rel="stylesheet" href="../page-css/style-template.css">
    <title>BabyBay</title>
</head>

<body>
    <header>
        <div class="menu-bg">
            <div class="menu">
                <div class="menu__logo">                   
                    <a href="index.html" target=_self><img src="../img/logo-200px.png" alt="logo-babybay"></a>
                </div> <!-- .menu__logo-->
                <nav class="nav">
                    <ul class="nav__list">
                        <li class="nav__link">Bem-Vindo xxx</li>
                        <li class="nav__link--bold"><a href="#" target=_self>Sair</a></li>
                    </ul> <!-- .nav__list-->
                </nav> <!--.nav-->
            </div> <!--.menu-->
        </div> <!-- .menu-bg-->
    </header>    

<main>
    <div class="div-confirmacompra">
        <h1>Confirmação de compra</h1>
    </div>
        <div class="section-c">
            <li>
                <img src="../img/coin.png" alt="coin">  
            </li>
            <li>
            <h3>Você optou pela compra do pacote <font color=>Light (3 BabyCoins por R$ 4,99). Para efetuar o pagamento, realize transferência bancária ou PIX para o seguinte destinatário:</h3>  
            </li> 
            <li>
                <h5>
                    CNPJ: 11.111.111.0001/49 (BANCO X ou MERCADO PAGO)
                    Banco: 111 - BANCO X S.A
                    Agência: 11111111-1
                    (BabyBay Empreendimentos)
                </h5>
            </li>
           <li>
            <h3>Após realização do pagamento, enviar comprovante para o e-mail financeiro@babybay.com para que seu saldo seja liberado em até 3 dias úteis.</h3>
           </li>
            <div class="retornar">
                <li>
                    <p>
                         <a href="tela-menu.html">Retornar</a>
                    </p>
                </li>
            </div>
        </div>
        

</main>

<footer class="footer-principal">
    <div class="conteudo__footer">
        <p class="conteudo__footer__frase">App Version - V1.0</p>
        <p class="conteudo__footer__frase">ALL RIGHTS RESERVED TO BABYBAY © 2022</p>
    </div> <!-- .conteudo__footer-->
</footer> <!-- .footer-principal" -->

</body>

</html>
                