<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../favicon/favicon-16x16.png" type="image/x-icon">
    <link rel="stylesheet" href="../page-css/denuncia.css">
    <link rel="stylesheet" href="../page-css/style-template.css">
    <title>BabyBay</title>
</head>

<body>
    <header>
        <div class="menu-bg">
            <div class="menu">
                <div class="menu__logo">                   
                    <a href="index.html" target=_self><img src="../img/logo-200px.png" alt="logo-babybay"></a>
                </div> <!-- .menu__logo-->
                <nav class="nav">
                    <ul class="nav__list">
                        <li class="nav__link">Bem-Vindo xxx</li>
                        <li class="nav__link--bold"><a href="#" target=_self>Sair</a></li>
                    </ul> <!-- .nav__list-->
                </nav> <!--.nav-->
            </div> <!--.menu-->
        </div> <!-- .menu-bg-->
    </header>    

<main>
    <div class="div-confirmacompra">
        <img src="../img/frown.jpg" alt="frown">
        <h1>Denunciar postagem/usuário</h1>
    </div>
        <div class="section-c">
            <li>
                <h3>Marque abaixo o motivo de sua denúncia e a equipe do BabyBay irá investigar:</h3>  
            </li> 
            <div class="selecao">
            <li>
            <br>
                <input type="checkbox" id="denuncia1" name="denuncia1" value="denuncia1">
                <label for="denuncia1">Itens proibidos (Banidos)</label>
            </br>
            </li>
            <li>
                <br>
                    <input type="checkbox" id="denuncia2" name="denuncia2" value="denuncia2">
                    <label for="denuncia2">Itens ofensivos e/ou potencialmente ofensivos</label>
                </br>
            </li>
            <li>
                <br>
                    <input type="checkbox" id="denuncia3" name="denuncia3" value="denuncia3">
                    <label for="denuncia3">Propriedade furtada</label>
                </br>
            </li>
            <li>
                <br>
                    <input type="checkbox" id="denuncia4" name="denuncia4" value="denuncia4">
                    <label for="denuncia4">Listagens Fraudulentas</label>
                </br>
            </li>
            <li>
                <br>
                    <input type="checkbox" id="denuncia5" name="denuncia5" value="denuncia5">
                    <label for="denuncia5">Tentativa de golpe</label>
                </br>
            </li>
            <li>
                <br>
                    <input type="checkbox" id="denuncia6" name="denuncia6" value="denuncia6">
                    <label for="denuncia6">Mensagens de chat, imagens ou vídeos ofensivos</label>
                </br>
            </li>
            <li>
                <br>
                    <input type="checkbox" id="denuncia7" name="denuncia7" value="denuncia7">
                    <label for="denuncia7">Outro:</label>
                </br>
            </li>
            <li>
                <br>
                    <input type="text" id="denuncia8" name="denuncia8">
                </br>
            </li>
            </div>
            <li>
                <input type="submit" value="Enviar" id="btn-confirmar">       
            </li>        
        </div>
    <div class="retornar">
        <li>
            <p>
                 <a href="Configuracoes.html">Retornar</a>
            </p>
        </li>
    </div>
        

</main>

<footer class="footer-principal">
    <div class="conteudo__footer">
        <p class="conteudo__footer__frase">App Version - V1.0</p>
        <p class="conteudo__footer__frase">ALL RIGHTS RESERVED TO BABYBAY © 2022</p>
    </div> <!-- .conteudo__footer-->
</footer> <!-- .footer-principal" -->

</body>

</html>
                