<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../favicon/favicon-16x16.png" type="image/x-icon">
    <link rel="stylesheet" href="../page-css/desativarconta.css">
    <link rel="stylesheet" href="../page-css/style-template.css">
    <title>BabyBay</title>
</head>

<body>
    <header>
        <div class="menu-bg">
            <div class="menu">
                <div class="menu__logo">                   
                    <a href="index.html" target=_self><img src="../img/logo-200px.png" alt="logo-babybay"></a>
                </div> <!-- .menu__logo-->
                <nav class="nav">
                    <ul class="nav__list">
                        <li class="nav__link">Bem-Vindo xxx</li>
                        <li class="nav__link--bold"><a href="#" target=_self>Sair</a></li>
                    </ul> <!-- .nav__list-->
                </nav> <!--.nav-->
            </div> <!--.menu-->
        </div> <!-- .menu-bg-->
    </header>    

<main>
    <div class="div-confirmacompra">
        <h1>Desativar conta</h1>
    </div>
        <div class="section-c">
            <li>
                <img src="../img/frown.jpg" alt="frown">  
            </li>
            <li>
            <h3>Uma pena que irá nos deixar! Sua conta permanecerá recuperável por 30 dias, após este período, será permanentemente excluída.</h3>  
            </li> 
            <li>
                <label for="Senha_atual">Senha atual</label>
                <input type="text" name="Senha_atual" id="Senha_atual" placeholder="Senha">
            </li>
            <li>
                <input type="submit" value="Desativar conta" id="btn-confirmar">       
            </li>        
        </div>
    <div class="retornar">
        <li>
            <p>
                 <a href="Configuracoes.html">Retornar</a>
            </p>
        </li>
    </div>
        

</main>

<footer class="footer-principal">
    <div class="conteudo__footer">
        <p class="conteudo__footer__frase">App Version - V1.0</p>
        <p class="conteudo__footer__frase">ALL RIGHTS RESERVED TO BABYBAY © 2022</p>
    </div> <!-- .conteudo__footer-->
</footer> <!-- .footer-principal" -->

</body>

</html>
                