<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../page-css/style-template.css">
  <link rel="stylesheet" href="../page-css/style-guarda-roupa.css">
  <link rel="shortcut icon" href="../favicon/favicon-16x16.png" type="image/x-icon">
</head>

<body>
  <header>
    <div class="menu-bg">
        <div class="menu">
            <div class="menu__logo">
                <a href="index.html" target=_self><img src="../img/logo-200px.png" alt="logo-babybay"></a>
            </div> <!-- .menu__logo-->
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__link">Bem-Vindo xxx</li>
                    <li class="nav__link--bold"><a href="#" target=_self>Sair</a></li>
                </ul> <!-- .nav__list-->
            </nav> <!--.nav-->
        </div> <!--.menu-->
    </div> <!-- .menu-bg-->
</header>

<section>
  <article>
  </article>
</section>

<main>

  <div class="gr-container">

    <h1>Meu Guarda-Roupa</h1>

    <div class="tabs">
      <div class="tab-header"></div>
        <div class="active">
          <i class="item 1"></i> Minhas publicações
        </div><!---.active-->
        <div>
          <i class="item 2"></i>Publicações pendentes
        </div>
        <div>
          <i class="item 3"></i>Favoritos
        </div>

      <div class="tab-indicator"></div>

      <div class="tab-body"></div>
        <div class="active">
          <h2>Minhas publicações tab</h2>
            <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
</div>
      <div>
        <h2>Publicacões pendentes tab</h2>
            <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
      </div>
      <div>
        <h2>Favoritos Tab</h2>
            <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
      </div>



      </div><!--.tabs header-->
    </div><!--.tabs-->

  </div><!-- .gr-container-->

</main>

<footer class="footer-principal">
  <div class="conteudo__footer">
      <p class="conteudo__footer__frase">App Version - V1.0</p>
      <p class="conteudo__footer__frase">ALL RIGHTS RESERVED TO BABYBAY © 2022</p>
  </div> <!-- .conteudo__footer-->
</footer> <!-- .footer-principal" -->

</body>
</html>
