<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../favicon/favicon-16x16.png" type="image/x-icon">
    <link rel="shortcut icon" href="../favicon/favicon-32x32.png" type="image/x-icon">
    <link rel="stylesheet" href="../page-css/style-template.css">
    <link rel="stylesheet" href="../page-css/perfilusuario.css">    
    <title>BabyBay - Solicitar troca</title>
</head>

<body>
    <header>
        <div class="menu-bg">
            <div class="menu">
                <div class="menu__logo">                   
                    <a href="index.html" target=_self><img src="../img/logo-200px.png" alt="logo-babybay"></a>
                </div> <!-- .menu__logo-->
                <nav class="nav">
                    <ul class="nav__list">
                        <li class="nav__link">Bem-Vindo xxx</li>
                        <li class="nav__link--bold"><a href="#" target=_self>Sair</a></li>
                    </ul> <!-- .nav__list-->
                </nav> <!--.nav-->
            </div> <!--.menu-->
        </div> <!-- .menu-bg-->
    </header>    
    <!--header-->

    <div class="div-titulo-cadastro">
        <li>
            <h1>Olá, Ana Paula!</h1>
        </li>
    </div>
    <div class = botoes>                    
        <input type="submit" value="Carteira" id="btn-confirmar">
            
        <input type="submit" value="Atualizar conta" id="btn-confirmar">

        <input type="submit" value="Excluir conta" id="btn-confirmar">
    </div>
  

    <section class="section-c"> 
        <div class="section-c__div">            
            <article class="article-c">
                <ul class="article-c__ul">
                    <div class = sec_tab>
                        <img src="../img/perfil_mariapaula.jpg" alt="coin">
                        <table>
                            <tr>
                                <th>
                                    Nome completo       
                                </th>
                                <td>
                                    Ana Paula Arósio
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Data de nascimento
                                </th>
                                <td>
                                   05/03/1979
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    CPF
                                </th>
                                <td>
                                   11111111111
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Rua
                                </th>
                                <td>
                                   Xavier
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Bairro
                                </th>
                                <td>
                                    Pancas
                                </td>
                            </tr>
                            <tr>
                                <tr>
                                    <th>
                                        Estado
                                    </th>
                                    <td>
                                        AL
                                    </td>
                                </tr>
                                <tr>
                                    <tr>
                                        <th>
                                            E-mail
                                        </th>
                                        <td>
                                            a.com
                                        </td>
                                    </tr>
                                    <tr>
                        </table>
                    </div>
                    <div class="retornar">
                        <li>
                            <p>
                                <a href="tela-menu.html">Retornar</a>
                            </p>
                        </li>
                    </div>
                </ul>
            </article> <!-- .container-principal__article--dois-->
        </div>
    </section>


    <main>

    </main>

    <footer class="footer-principal">
        <div class="conteudo__footer">
            <p class="conteudo__footer__frase">App Version - V1.0</p>
            <p class="conteudo__footer__frase">ALL RIGHTS RESERVED TO BABYBAY © 2022</p>
        </div> <!-- .conteudo__footer-->
    </footer> <!-- .footer-principal" -->


</body>

</html>

<!--
.bloco-principal { padding:15px; }
.bloco-principal__artigo { max-width:600px; }
.bloco-principal__artigo--fundo-cinza { background: #c9c9c9; }
-->