<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../favicon/favicon-16x16.png" type="image/x-icon">
    <link rel="shortcut icon" href="../favicon/favicon-32x32.png" type="image/x-icon">
    <link rel="stylesheet" href="../page-css/style-template.css">
    <link rel="stylesheet" href="../page-css/solicitartroca.css">    
    <title>BabyBay - Solicitar troca</title>
</head>

<body>
    <header>
        <div class="menu-bg">
            <div class="menu">
                <div class="menu__logo">                   
                    <a href="index.html" target=_self><img src="../img/logo-200px.png" alt="logo-babybay"></a>
                </div> <!-- .menu__logo-->
                <nav class="nav">
                    <ul class="nav__list">
                        <li class="nav__link">Bem-Vindo xxx</li>
                        <li class="nav__link--bold"><a href="#" target=_self>Sair</a></li>
                    </ul> <!-- .nav__list-->
                </nav> <!--.nav-->
            </div> <!--.menu-->
        </div> <!-- .menu-bg-->
    </header>    
    <!--header-->

    <div class="div-titulo-cadastro">
        <h1>Solicitar troca</h1>
    </div>
    <div class="div-frase">
        <h2>Parabéns, sua proposta foi enviada para João Miguel!</h2>
    </div>

    <section class="section-c"> 
        <div class="section-c__div">            
            <article class="article-c">
                <ul class="article-c__ul">
                    <div class = sec_tab>
                        <table>
                            <tr>
                                <th>
                                    E-mail:
                                </th>
                                <td>
                                    joão
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Produto:
                                </th>
                                <td>
                                    xxxxx
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Título do Anúncio
                                </th>
                                <td>
                                    xxxxxxx
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Date
                                </th>
                                <td>
                                    xxxxxx
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Roupa proposta para troca:
                                </th>
                                <td>
                                    xxxxx
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Valor em BabyCoin
                                </th>
                                <td>
                                    xxxxx
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="botoess">
                    
                        <input type="submit" value="Aceitar troca" id="btn-confirmar">
                    
                        <input type="submit" value="Voltar" id="btn-confirmar">
                    </div>
                </ul>
            </article> <!-- .container-principal__article--dois-->
        </div>
    </section>


    <main>

    </main>

    <footer class="footer-principal">
        <div class="conteudo__footer">
            <p class="conteudo__footer__frase">App Version - V1.0</p>
            <p class="conteudo__footer__frase">ALL RIGHTS RESERVED TO BABYBAY © 2022</p>
        </div> <!-- .conteudo__footer-->
    </footer> <!-- .footer-principal" -->


</body>

</html>

<!--
.bloco-principal { padding:15px; }
.bloco-principal__artigo { max-width:600px; }
.bloco-principal__artigo--fundo-cinza { background: #c9c9c9; }
-->