/* MENU USUÁRIO

    D - Arquivo NovoPost (page-css/NovoPost.css)
    D1. Main

/****************************************
    5. Main
/****************************************/
*{
    list-style: none;    
}

.div-confirmacompra{
    margin: auto;
    padding: 20px;
    color: var(--clr-purple-dark);
    height: 150px;
    /* flex */    
    
    display: flex;
    justify-content: center;
    align-items: center;
}


.section-c{    
    /* flex */
    display: flexbox;
    vertical-align: middle;
    justify-content: center;
    width: 582px;
    text-align: center;
    margin: auto;
    border: 0.5px solid #8D8D8D;
    border-radius: 20px;
    border-color: grey;
    background-color: white;
    
}


.section-c h2{
        /* flex */
        color: black;
        text-align: center;
        margin: 10px;
}


.retornar > p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-size: large;
}

.retornar > li > p > a{
    color: var(--clr-purple-dark);;
}
