/* MENU USUÃRIO

    D - Arquivo NovoPost (page-css/NovoPost.css)
    D1. Main

/****************************************
    5. Main
/****************************************/
*{
    list-style: none;    
}

.div-confirmacompra{
    margin: auto;
    padding: 5px;
    color: var(--clr-purple-dark);
    height: 150px;
    /* flex */    
    
    display: flexbox;
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.div-confirmacompra img{
    width: 50px;
    height: 50px;
    border-radius: 4px;
    object-fit: cover;
    margin: 20px;
}


.section-c{    
    /* flex */
    display: flexbox;
    vertical-align: middle;
    justify-content: center;
    width: 582px;
    text-align: center;
    margin: auto;
    border: 0.5px solid #8D8D8D;
    border-radius: 20px;
    border-color: grey;
    background-color: #DA8BD2;
    color: white;
    
}

.selecao{
    display: flexbox;
    justify-content: baseline;
    text-align: justify;
    margin: auto;
    vertical-align: auto;

}


.section-c h3{
        /* flex */
        color: white;
        text-align: center;
        margin: 20px;
  }


#btn-confirmar{    
    width: 339px;
    height: 35px;
    
    font-family: 'Alata';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    
    color: #FFFFFF;
    margin: 20px;
  
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    background: #ACABF2;
    border-radius: 10px;
}

.retornar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }


.retornar > li > p > a{
    color: var(--clr-purple-dark);;
}

