@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Baloo+Bhai+2:wght@800&display=swap');

.gr-container{
  max-width: 800px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}

.tabs {
background-color: #e6e3e318;
color: white;
padding: 10px 10px 0 10px;
display: inline-flex;
}

.tabs h3 {
font-weight: lighter;
align-items: center;
padding: 10px 10px 0 10px;
}

.tabs-item {
flex: 1 0 auto;
background-color: #9594f8;
}

.tabs-item:first-child {
border-radius: 10px 0 0 0;
}

.tabs-item:last-child {
  border-radius: 0 10px 0 0;
  }
