.tabs {
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
width:500px;
height:250;
background:#e6e3e318;
padding: 20px 30px;
overflow:hidden;
border-radius:10px;
box-shadow:1px 1px 2px#b6b6b694;
border-box:#CECECE;
overflow:hidden;
}

.gr-container .tabs .tab-header {
  height:60px;
  display:flex;
  display: inline-flex;
}
