.container {
  width: 900px;
  margin: auto;
  padding: 50px;
}

.content {
  width: 900px;
  margin: auto;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  background-color: #e6e3e318;
  border-radius: 5px;
    box-shadow: 1px 1px 2px #b6b6b694;

}

.card {
  transform: scale(0.8)
}

h1 {
  color:#DA8BD2;
  text-align: center;
}
