@model app_babybay.Models.Usuario

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link rel="shortcut icon" href="../favicon/favicon-16x16.png" type="image/x-icon">
    <link rel="stylesheet" href="~/css/excluirConta.css">

}

   

    <title>BabyBay</title>

<main>
 <div class="div-confirmacompra">
        <h1>Excluir conta</h1>
    </div>
        <div class="section-c">
            <li>
                <img src="~/img/excluirconta.jpeg" alt="excluirconta">  
            </li>
            <li>
            <h4>Após excluir sua conta, ela será permanentemente deletada do nosso Banco de Dados e não poderá ser recuperada posteriormente. </h4>  
            </li> 
            @using (Html.BeginForm("Delete", "Usuarios", FormMethod.Post))
        {
            
            	<h3>Digite sua senha</h3>
			       @Html.TextBox("SenhaDelete")
                    <form asp-action="Delete" style="padding:20px">
               <input type="hidden" asp-for="Id" />
                <input type="submit" value="Deletar" class="btn btn-danger" /> 
                
                 </form>  

        } 
   
               <h3>@ViewBag.Message</h3>
                  
        </div>
    <div class="retornar">
        <li>
            <p>
                 <a role="button" class="btn btn-primary" asp-action="Index" asp-route-id="@Model.Id">Retornar</a>
            </p>
        </li>
    </div>
        

</main>
    
</div>
