@model app_babybay.Models.Usuario

@{
	ViewData["Title"] = "Delete";
	Layout = "~/Views/Shared/_Layout.cshtml";
	<link rel="shortcut icon" href="../favicon/favicon-16x16.png" type="image/x-icon">
	<link rel="stylesheet" href="~/css/excluirConta.css">

}

<title>BabyBay</title>

<main>
	<div class="container-delete">
		<p class="section-c"><img src="~/img/excluirconta.jpeg" alt="excluirconta"></p>
		<br />
		<h2>Excluir conta</h2>
		<ul>
			<li class="texto-delete">
				<hr>
				Após excluir sua conta, ela será permanentemente desativada e não poderá ser recuperada. Deseja continuar?
				
			</li>
			<li class="li-retornar-delete">
				<a class="retornar-delete" asp-action="Details" asp-route-id="@Model.Id">Retornar</a>
				<hr />
			</li>			

			<li class="li-botao-delete">
				@using (Html.BeginForm("Delete", "Usuarios", FormMethod.Post))
				{
					<h3>Digite sua senha</h3>
					@Html.TextBox("SenhaDelete")
					<form asp-action="Delete" style="padding:20px">
						<input type="hidden" asp-for="Id" />
						<input type="submit" value="Deletar" class="btn-delete" />
					</form>
					<h3>@ViewBag.Message</h3>
				}				
			</li>			
		</ul>
	</div>
</main>





