@model app_babybay.Models.Usuario

@{
	ViewData["Title"] = "Login";
}

<link rel="stylesheet" href="~/css/style-login.css">

<main class="container-main">
	<div class="container-login">
		<div class="container-login__h1--titulo">
			<h1>Login</h1>
		</div>
		<div>
			<hr>
			<br>
		</div>
		<form asp-action="Login">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="container-login__campo">
				<label asp-for="Email" class="container-login__label">Email</label>
				<input id="foco" asp-for="Email" class="container-login__input" placeholder="E-mail">
				<span asp-validation-for="Email" class="text-danger"></span>
		
				<label asp-for="Senha" class="container-login__label">Senha</label>
				<input asp-for="Senha" class="container-login__input" placeholder="Senha">
				<span asp-validation-for="Senha" class="text-danger"></span>
			</div>
				<h5 class="message">@ViewBag.Message</h5>
			<div class="container-login__botao">
				<input class="container-login__input--botao" type="submit" value="Entrar"> <!--Botão-->
			</div>
		</form>
		<div class="container-login__esqueceu-senha">
		<a asp-controller="Home" asp-action="Index">Voltar</a>		
		</div>
	</div><!--container-login-->	
</main>

<script>
	document.getElementById("foco").focus();
</script>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	}


















@*@model app_babybay.Models.Usuario

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Senha" class="control-label"></label>
                <input asp-for="Senha" class="form-control" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>    
            <div class="form-group">
                <input type="submit" value="Entrar" class="btn btn-primary" /> |
                <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Voltar</a>
            </div>
        </form>
        <h3>@ViewBag.Message</h3>   <!--Exibe msg configurada no controller usuário login()-->
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
*@