@model app_babybay.Models.Usuario

@{
	ViewData["Title"] = "Menu";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Menu</h1> <!--Com problema de rota-->

<div>
	@if (User.Identity.Name == Model.Nome)	// Com erro
	{
	<a class="btn btn-primary" asp-controller="Usuarios" asp-action="Relatorios" asp-route-id="@Model.Id">Criar Anúncio</a>
	<a class="btn btn-primary" asp-controller="Home" asp-action="Index">Buscar Roupas</a>
	//<a class="btn btn-primary" asp-controller="Usuarios" asp-action="Details">Meu Guarda Roupas</a>
	<a class="btn btn-primary" asp-controller="Usuarios" asp-action="Details" asp-route-id="@Model.Id">Minha Conta</a>
	}


</div>

