@model app_babybay.Models.Usuario

@{
	ViewData["Title"] = "Quem_Somos";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/quemsomos.css">

<main>
	<div class="div-confirmacompra">
	</div>
	<div class="section-c">
		<h1>Sobre o BabyBay</h1>
		<p class="mensagem">
			O objetivo do BabyBay é conectar pais ou responsáveis por crianças, para que obtenham formas de reduzir os custos financeiros com vestuário infantil, realizando troca de roupas  através de ferramentas tecnológicas.
			<br>			
			<br>
			* Esse projeto foi desenvolvido no curso EAD de Análise e Desenvolvimento de Sistema da Universidade PUC Minas.
			<br>
			<br>
			Nosso Github:
		</p>
		<div class="nomes">
			<h2><a style="color:#9594f8" rel="noreferrer noopener" target="_blank" href="https://github.com/dri1302">Adriana Lacerda </a></h2>

			<h2><a style="color:#9594f8" rel="noreferrer noopener" target="_blank" href="https://github.com/CarlosCamuzzi">Carlos Camuzzi</a></h2>

			<h2><a style="color:#9594f8" rel="noreferrer noopener" target="_blank" href="https://github.com/ezequielssa">Ezequiel Almeida </a></h2>

			<h2><a style="color:#9594f8" rel="noreferrer noopener" target="_blank" href="https://github.com/Gabrielll-sys">Gabriel Lopes</a></h2>

			<h2><a style="color:#9594f8" rel="noreferrer noopener" target="_blank" href="https://github.com/feitosinha97">Ila Feitosa</a></h2>

			<h2><a style="color:#9594f8" rel="noreferrer noopener" target="_blank" href="https://github.com/54rtor1">Júlia Sartori </a></h2>
		</div>

	</div>
	</div>



</main>

