@model app_babybay.Models.Usuario

@{
    ViewData["Title"] = "Quem_Somos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/quemsomos.css">


<main>
	<div class="div-confirmacompra">
		
	</div>
	<div class="section-c">
		<h1>Quem somos nós </h1>
			<p class="mensagem">
				O nosso intuito com o nosso site, era criar algo o mais simples possível possivel, mas uma ferramenta poderosa,aonde vários pais de diversos lugares possam se conectar com diferentes pais de diferentes lugares,fazer um collab legal,trocar a roupa do seu nenem/criança com outra família,reduzindo o desperdicio de roupa considerávelmente,e tambem contribuindo  de forma positiva com os gastos $$$ de uma família,nosso sistema conta com um design lindo e minimalista,aonde onde qualquer usuário com pouco tempo,possa aprender a usar e navegar no site com extrema facilidade.Sendo assim,deixaremos aqui o link do Github de cada um dos contribuintes desse projeto,para agredecimentos,futuros jobs etc.
			</p>
			<div class="nomes">
			<h2><a style="color:#9594f8" rel="noreferrer noopener" target="_blank" href="https://github.com/dri1302">Adriana Lacerda </a></h2>
			
			<h2><a style="color:#9594f8" rel="noreferrer noopener" target="_blank" href="https://github.com/CarlosCamuzzi">Carlos Camuzzi</a></h2>
		
			<h2><a style="color:#9594f8" rel="noreferrer noopener" target="_blank" href="https://github.com/ezequielssa">Ezequiel Almeida </a></h2>
	
			<h2><a style="color:#9594f8" rel="noreferrer noopener" target="_blank" href="https://github.com/Gabrielll-sys">Gabriel Lopes</a></h2>
			
			<h2><a style="color:#9594f8" rel="noreferrer noopener" target="_blank" href="https://github.com/feitosinha97">Ila Feitosa</a></h2>
			
			<h2><a style="color:#9594f8" rel="noreferrer noopener" target="_blank" href="https://github.com/54rtor1">Júlia Sartori </a></h2>
			</div>
			
	

			
		</div>
	</div>



</main>

