/* TELA CADASTRO USUÁRIO 

C - Arquivo Style Cadastro Usuárop (page-css/style-cadastro-usuario.css)
    C1. Section > Article
    
/****************************************
    C1. Section > Article
/****************************************/
* {
    list-style: none;
}

.div-titulo-cadastro {
    /* background-color: var(--clr--third-background);
    border: 1px solid  var(--clr--border-box);
    box-shadow: var(--clr--box-shadow-content-nivel-3); */
    border-radius: 10px;
    font-size: 1.7em;
    margin: auto;
    max-width: 450px;
    padding: 10px;
    /* flex */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.inputs {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    margin:auto;

}
.input {
    border-color: var(--clr--border-box);
    box-shadow: var(--clr--box-shadow);
    background: #ffffff;
    border-radius: 10px;
    height: 40px;
    /* margin: 10px; */
    padding: 9px;
    font-size: 1em;
    width: 400px;
    flex: 1 1 100px;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
}

    .input:hover {
        box-shadow: var(--clr--box-shadow-hover);
        /*  border: 1px solid var(--clr-purple-dark);*/
        border-color: var(--clr-purple-dark);
    }
.descricao {
    display: block;
    margin-bottom: 0.5rem;
}
h4{
width:345px;
padding:12px;
}
hr {
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.titulo{
    margin:auto;
    width:287px;
}

.titulo-edit-usuario {
    margin-top: 20px;
    margin-left: 480px;
    width: 960px;
    color: var(--clr-purple-dark);    
}

.section-c__div {
    /* background-color: var(--clr-second-background);
    border: 1px solid  var(--clr--border-box);
    box-shadow: var(--clr--box-shadow-content);  */
    border-radius: 10px;
    margin-bottom: 0px;
    /* padding: 30px; */
    /* flex */
    display: flex;
    flex-flow: row wrap; /* wrap */
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 1;
}

.input__selected {
    border-color: var(--clr--border-box);
    box-shadow: var(--clr--box-shadow);
    border-radius: 10px;
    flex: 1 5 120px; /* grow shrink basis*/
    font-size: 1em;
    margin: 5px 15px;
    height: 35px;
    padding: 2px;
    width: 120px;
}
  
    .input__selected:hover {
        box-shadow: var(--clr--box-shadow-hover);
        border: 1.2px solid var(--clr-purple-dark);
    }

#data{
    font-size: 0.9em;
}

.btn-criar {
    background-color: var(--clr--pink-dark);
    border-color: var(--clr--border-box);
    display:block;
    box-shadow: var(--clr--box-shadow);
    border-radius: 30px;
    color: #FFFFFF;
    font-size: 1.2em;
    font-weight: bold;
    height: 40px;
    letter-spacing: 1px;
    min-width: 200px;
    text-shadow: var(--clr--text-shadow);
    margin-top: 50px;
    margin: auto;
}


    .btn-criar:hover {
        box-shadow: var(--clr--box-shadow-btn-hover);
        background-color: var(--clr--pink-light);
        cursor: pointer;
    }

    .btn-criar:active {
        background-color: var(--clr--pink-dark);
    }


.voltar {
    margin: auto;
    color: #000;
    font-size: 1.1em;
    justify-content: space-between;
    color: var(--clr-purple-dark) !important;    
}

    .voltar:hover {
        font-weight: bold;
    }



.btn-voltar {
    background-color: var(--clr-purple-dark);
    border-color: var(--clr--border-box);
    display: block;
    box-shadow: var(--clr--box-shadow);
    border-radius: 30px;
    color: #FFFFFF;
    font-size: 1.1em;
    font-weight: bold;
    height: 30px;
    letter-spacing: 1px;
    width: 100px;
    text-shadow: var(--clr--text-shadow);
    margin-left: 500px;
    text-align: center;
}


    .btn-voltar:hover {
        box-shadow: var(--clr--box-shadow-btn-hover);
        background-color: var(--clr-purple-light);
        cursor: pointer;
    }

    .btn-voltar:active {
        background-color: var(--clr-purple-dark);
    }


@media(max-width:655px) {
    .input {
        width:250px;
    }
}
