/* TELA CADASTRO USUÁRIO 

C - Arquivo Style Cadastro Usuárop (page-css/style-cadastro-usuario.css)
    C1. Section > Article
    
/****************************************
    C1. Section > Article
/****************************************/
* {
    list-style: none;    
}

.div-titulo-cadastro {    
    color: var(--clr-purple-dark);
    margin-top: 50px;
    /* flex */

    display: flex;
    justify-content: center;
    align-items: center;
}
th{
    padding:10px;
}
.section-c {
    /* flex */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 15px 20px;
}

.section-c__div {
    /* flex */
    display: flexbox;
    vertical-align: middle;
    justify-content: center;
    width: fit-content;
    text-align: center;
    margin: auto;
    color: black;
    padding: 12px;
}

/*.article-c {
    background-color: var(--clr-second-background);
    border: 1px solid var(--clr--border-box);
    box-shadow: var(--clr--box-shadow-content);
    margin-top: 15px;
    padding: 10px 40px 20px 0px;
    max-width: 600px;*/
    /* flex*/
    /*display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 1;
}*/


.article-c {
    background-color: var(--clr-second-background);
    border: 1px solid var(--clr--border-box);
    box-shadow: var(--clr--box-shadow-content);
    margin: 10px;
    padding: 50px;
    /* flex*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 1;
}

.article-c__ul {
    text-align: center;
    /* align-self: flex-end; */
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 200px;
    align-items: center;
}

.section-c img {
    width: 200px;
    height: 200px;
    border-radius: 4px;
    object-fit: cover;
    margin: 10px;
}
.input__busca--botao {
    background-color: var(--clr-purple-dark);
    border-color: var(--clr--border-box);
    box-shadow: var(--clr--box-shadow);
    border-radius: 20px;
    color: #FFFFFF !important;
    font-size: 1.1em;
    font-weight: bold;
    padding: 2px;
    padding-left: 20px;
    padding-right: 20px;
    height: 32px;
    letter-spacing: 1px;
    margin: 5px 15px;
    min-width: 130px;
    text-shadow: var(--clr--text-shadow);
    text-align: center;
    line-height: 30px;
}
p {
    padding: 12px;
   
}

.input__busca--botao:hover {
    box-shadow: var(--clr--box-shadow-btn-hover);
    background-color: var(--clr-purple-light);
    cursor: pointer;
}

    .input__busca--botao:active {
        background-color: var(--clr-purple-dark);
    }

.input__busca--botao-anunciar {
    background-color: var(--clr--pink-dark);
    border-color: var(--clr--border-box);
    box-shadow: var(--clr--box-shadow);
    border-radius: 20px;
    color: #FFFFFF !important;
    font-size: 1.1em;
    font-weight: bold;
    padding:2px;
    padding-left: 20px;
    padding-right: 20px;
    height: 32px;
    letter-spacing: 1px;
    margin: 5px 15px;
    min-width: 120px;
    text-shadow: var(--clr--text-shadow);
    text-align: center;
    line-height: 30px;
}

    .input__busca--botao-anunciar:hover {
        box-shadow: var(--clr--box-shadow-btn-hover);
        background-color: var(--clr--pink-light);
        cursor: pointer;
    }

.input__busca--botao-anunciar:active {
    background-color: var(--clr-purple-dark);
}

.sec_tab {
    display: flex;
    margin: auto;
    align-items: center;
    width: fit-content;
    padding: 15px;
    margin-bottom: 30px;
}

.article-c__ul {
    display: flexbox;
    margin: auto;
    flex-direction: row; /* antes estava column*/
    justify-content: flex-end;
    align-items: center;
}
.botoess{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}
.botoess > input {
    background: #ffffff;
    border-radius: 10px;
    border-color: var(--clr--border-box);
    box-shadow: var(--clr--box-shadow);
    height: 40px;
    margin: auto;
    padding: 10px;
    font-size: 1em;
    flex-grow: 1; /* antes sem grow */
    flex-shrink: 1;
}

    .botoess > input:hover {
        box-shadow: var(--clr--box-shadow-hover);
        border: 1.5px solid var(--clr-purple-dark);
    }

#btn-confirmar {
    background-color: var(--clr-purple-dark);
    border-color: var(--clr--border-box);
    box-shadow: var(--clr--box-shadow);
    border-radius: 50px;
    color: #FFFFFF !important;
    font-size: 0.9em;
    font-weight: bold;
    height: 32px;
    letter-spacing: 1px;
    margin: 5px 15px;
    min-width: 120px;
    text-shadow: var(--clr--text-shadow);
    text-align: center;
    line-height: 30px;
}
}

    #btn-confirmar:hover {
        box-shadow: var(--clr--box-shadow-btn-hover);
        background-color: var(--clr-purple-light);
        cursor: pointer;
    }

    #btn-confirmar:active {
        background-color: var(--clr-purple-dark);
    }

.input__busca--botao-aceitar {
    background-color: var(--clr--pink-dark);
    border-color: var(--clr--border-box);
    box-shadow: var(--clr--box-shadow);
    border-radius: 20px;
    color: #FFFFFF !important;
    font-size: 1.1em;
    font-weight: bold;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    height: 32px;
    letter-spacing: 1px;
    margin: 5px 15px;
    min-width: 100px;
    text-shadow: var(--clr--text-shadow);
    text-align: center;
    line-height: 30px;
}

    .input__busca--botao-aceitar:hover {
        box-shadow: var(--clr--box-shadow-btn-hover);
        background-color: var(--clr--pink-light);
        cursor: pointer;
    }

    .input__busca--botao-aceitar:active {
        background-color: var(--clr--pink-dark);
    }
