@model app_babybay.Models.Anuncio

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/excluirAnuncio.css">

<main>
    <div class="container-delete">
        <p class="section-c"><img src="~/img/excluirconta.jpeg" alt="excluirconta"></p>
        <br />
        <h2>Excluir anúncio</h2>
        <ul>
            <li class="texto-delete">
                <hr>
               Clique no botão abaixo para excluir o anúncio <div class="anuncio">@Model.Titulo</div>. Assim, seu produto não aparecera
               para outros usuários, mas não se preocupe, você podera anunciar seu produto quantas vezes quiser.

            </li>
        
            <li class="li-botao-delete">

                <form asp-action="Delete">
                    <input type="hidden" asp-for="AnuncioId" />
                    <input type="submit" value="Deletar Anúncio" class="btn-excluir" />
                </form>

            </li>
        </ul>
        <a class="btn-voltar" asp-controller="Anuncios" asp-action="MenuAnuncio" asp-route-id="@Model.AnuncioId">Voltar</a>
    </div>
</main>
